doctype html
html
	head
		title=title
		link(rel="stylesheet", href="css/bootstrap.min.css")
		link(rel="stylesheet", href="css/custom.css")
	body
		div.header
			nav(class="navbar navbar-inverse" role="navigation")
				div.container-fluid
					div.navbar-hearder
						button(type="button" class="navbar-toggle collapsed" data-toggle="collapsed" data-target="#bs-example-navbar-navbar-collapse-1")
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a(class="navbar-brand" href="/") College Clubs MN

						//Collect the nav links and other content for toggling
						div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
							ul(class="nav navbar-nav")
								li
									a(href="/universities") Universities
							ul(class="nav navbar-nav navbar-right")
								li
									a(href="/signin") Sign in
								li.active
									a(href="/signup") Sign up

		div.content
			div.jumbotron
				form(class="form-horizontal" role="form" type="post" action="/signup")
					div.form-group
						label(for="inputUsername3" class="col-sm-2 control-label") Username
						div.col-sm-3
							input(type="text" class="form-control" id="inputUsername3" placeholder="Username" name="username" required=true)
					div.form-group
						label(for="inputHometown" class="col-sm-2 control-label") Hometown
						div.col-sm-3
							input(type="text" class="form-control" id="inputHometown" placeholder="Minneapolise, MN" name="hometown" required=true)
					div.form-group
						label(for="inputAge" class="col-sm-2 control-label") Age
						div.col-sm-3
							input(type="number" class="form-control" id="inputAge" placeholder="Age" name="age" min="0" max="200" required=true)
					div.form-group
						label(for="inputPassword3" class="col-sm-2 control-label") Password
						div.col-sm-3
							input(type="password" class="form-control" id="inputpassword3" placeholder="Password" name="password" required=true)
					div.form-group
						div(class="col-sm-offset-2 col-sm-10")
							button(type="submit" class="btn btn-default") Sign up!

		div.footer