doctype html
html
	head
		title="Sign up"
		link(rel="stylesheet", href="css/bootstrap.min.css")
		link(rel="stylesheet", href="css/custom.css")
	body
		div.header
			nav(class="navbar navbar-inverse" role="navigation")
				div.container-fluid
					div.navbar-hearder
						button(type="button" class="navbar-toggle collapsed" data-toggle="collapsed" data-target="#bs-example-navbar-navbar-collapse-1")
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a(class="navbar-brand" href="/") College Clubs MN

						//Collect the nav links and other content for toggling
						div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
							if(isSignedIn)
								ul(class="nav navbar-nav")
									li
										a(href="/clubs") Clubs
							ul(class="nav navbar-nav navbar-right")
								li
									a(href="/signin") Sign in
								li.active
									a(href="/signup") Sign up

		div.content
			div.jumbotron
				form(class="form-horizontal" role="form" method="post" action="/signup")
					div.form-group
						label(for="inputUsername3" class="col-sm-2 control-label") Username
						div.col-sm-3
							input(type="text" class="form-control" id="inputUsername3" placeholder="Johnny" name="username" required=true)
					div.form-group
						label(for="inputFirstName" class="col-sm-2 control-label") First Name
						div.col-sm-3
							input(type="text" class="form-control" id="inputFirstName" name="firstName" required=true)
					div.form-group
						label(for="inputLastName" class="col-sm-2 control-label") Last Name
						div.col-sm-3
							input(type="text" class="form-control" id="inputLastName" name="lastName" required=true)
					div.form-group
						label(for="inputUniversity" class="col-sm-2 control-label") University
						div.col-sm-3
							select(class="form-control" required=true name="university")
								option=""
								option="Bemidji State University"
								option="Metropolitan State University"
								option="Minnesota State University, Mankato"
								option="Minnesota State University, Moorhead"
								option="Saint Cloud State University"
								option="Southwest Minnesota State University"
								option="Winona State University"							
					div.form-group
						label(for="inputEmail" class="col-sm-2 control-label") E-mail
						div.col-sm-3
							input(type="email" class="form-control" id="inputEmail" placeholder="Yohannes.Seifu@live.bemidjistate.edu" name="email" required=true)
					div.form-group
						label(for="inputHometown" class="col-sm-2 control-label") Hometown
						div.col-sm-3
							input(type="text" class="form-control" id="inputHometown" placeholder="Bemidji, MN" name="hometown" required=true)
					div.form-group
						label(for="inputPassword3" class="col-sm-2 control-label") Password
						div.col-sm-3
							input(type="password" class="form-control" id="inputpassword3" placeholder="Password" name="password" required=true)
							label(class="label label-danger") #{error_message}
					div.form-group
						div(class="col-sm-offset-2 col-sm-10")
							button(type="submit" class="btn btn-default") Sign up!

		div.footer