doctype html
html
	head
		title=username
		link(rel="stylesheet" href="css/bootstrap.min.css")
		link(rel="stylesheet" href="css/custom.css")
	body
		div.header
			nav(class="navbar navbar-inverse" role="navigation")
				div.container-fluid
					div.navbar-hearder
						button(type="button" class="navbar-toggle collapsed" data-toggle="collapsed" data-target="#bs-example-navbar-navbar-collapse-1")
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a(class="navbar-brand" href="/") College Clubs MN

						//Collect the nav links and other content for toggling
						div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
							ul(class="nav navbar-nav")
								li
									a(href="/universities") Universities
							ul(class="nav navbar-nav navbar-right")
								li
									a(href="/profile") #{username}

		div.container
			div.jumbotron
				div.row
					div(class="col-sm-6 col-md-4")
						div.thumbnail
							img(src="images/default_user.jpg" alt="user" class="img-circle")
							div.caption
								h2
									| #{username}
								h4
									| #{university}
								h4
									| From #{hometown}
					h1="Hooray, Welcome to College Clubs!"
		div.footer