doctype html
html
	head
		title=username
		link(rel="stylesheet" href="css/bootstrap.min.css")
		link(rel="stylesheet" href="css/custom.css")
	body
		div.header
			nav(class="navbar navbar-inverse" role="navigation")
				div.container-fluid
					div.navbar-hearder
						button(type="button" class="navbar-toggle collapsed" data-toggle="collapsed" data-target="#bs-example-navbar-navbar-collapse-1")
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a(class="navbar-brand" href="/") College Clubs MN

						//Collect the nav links and other content for toggling
						div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
							ul(class="nav navbar-nav")
								li
									a(href="/clubs") Clubs
							ul(class="nav navbar-nav navbar-right")
								li
									a(href="/profile") #{username}
								li
									a(href="/settings") Settings
								li
									a(href="/signout") Sign out

		div.container
			div.jumbotron
				div.row
					div(class="col-sm-6 col-md-4")
						div.thumbnail
							img(src="images/default_user.jpg" alt="user" class="img-circle")
							div.caption
								form(method="post" name="upload_profile_piture" action="/profile")
									button(name="upload_profile_picture") Upload Picture
								h2
									| #{username}
								h4
									| #{university}
								h4
									| From #{hometown}
					h3="Hooray, Welcome to College Clubs!"
				form(method="post" action="/addNews" class="form-horizontal" role="form")
					div.form-group
						label(for="inputClub" class="col-sm-2 control-label") Club
						div.col-sm-3
							input(name="clubName" type="text" class="form-control" id="inputEmail" placeholder="Accounting Club" required=true)
					div.form-group
						label(for="inputNews" class="col-sm-2 control-label") Update Status
						div.col-sm-3
							textarea(name="news" class="form-control" rows="3" id="inputNews" placeholder="Add your updates..." required=true)
					div.form-group
						div(class="col-sm-offset-2 col-sm-10")
							button(type="submit" class="btn btn-default") Post!

		div.footer